<main class="main">
    <div class="container gutter-top">
        <div class="row sticky-parent">
            <!-- Sidebar -->
            <aside class="col-12 col-md-12 col-xl-3">
                <app-header></app-header>
            </aside>

            <!-- Content -->
            <div class="col-12 col-md-12 col-xl-9">
                <router-outlet></router-outlet>

                <!-- Footer -->
                <footer class="footer">© 2020 ishita</footer>
            </div>
        </div>
    </div>
</main>